
html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }


footer a
{
	color: #999;
}

footer a:hover
{
	color: #ccc;
}

footer
{
  margin-top: 10px;
	background : #eee;
	background-image: url('../img/stripes.png');
	background-size: 10px 10px;
}

   #wrap {
        min-height: 100%;
        height: auto !important;

        /* Negative indent footer by it's height */
        margin: 0 auto -66px 0;
        padding: 0 0 0 0;
      }
.clear{ clear: both;}


.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mt30{ margin-top: 30px;}
.mt40{ margin-top: 40px;}
.mt50{ margin-top: 50px;}

.jumbotron{
  padding: 30px 40px 30px 40px;
}